.app {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.app > * {
  position: absolute;
  inset: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.window {
  overflow: hidden;
}

.selection {
  container: strict;
  border: 2px solid #ec2090;
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.5);
}
